// @/components/Navbar/NavbarTransition.module.scss
.transitionContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: var(--nav-height);
  display: flex;
  align-items: center;

  &:has(.incomingHeader) {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 100000;
  }
}

.currentHeader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--nav-height);
}

.incomingHeader {
  z-index: 100000; // Ensure incoming header is above
  gap: 32px;
  height: auto;
  background: hsl(var(--background) / 0.25);
  backdrop-filter: blur(4px);
  border: 1px solid hsl(var(--border));
  padding: 8px 56px;
  border-radius: 999999px;

  width: min(200px, 100%);

  a {
    img {
      width: 32px !important;
      height: 32px !important;
      margin: 0 !important;
    }
  }

  nav {
    button {
      width: 14px !important;
      height: 14px !important;
      svg {
      }
    }
  }
}
