// Navbar.module.scss
.default {
  width: 100%;
  top: 0;
  left: 0;
}

.default,
.scroller {
  position: absolute;
  height: var(--nav-height);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px; // Add some padding

  .nav {
    display: flex;
    align-items: center;
  }
}

.scroller {
  opacity: 0;
  background: hsl(var(--background) / 0.75);
  backdrop-filter: blur(13px);
  //border: 1px solid hsl(var(--border));
  box-shadow:
    0 0 0 1px hsl(var(--border) / 0.25),
    1px 1px 1px 1px hsl(var(--primary) / 0.05);
  border-radius: 999999px;
  z-index: 1;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);

  height: min-content;
  padding: 4px 50px;
}

.default {
  z-index: 2;
}
