.scrollWrapper {
  position: fixed;
  left: 0;
  width: 100vw;
  top: 0;
  height: var(--nav-height);
  background: hsl(var(--background) / 0.2);
  border: 1px solid transparent;
  z-index: 10000;
  backdrop-filter: blur(10px);
}
// default
.navbar {
  width: min(var(--max-width), 100%);
  margin: 0 auto;

  height: var(--nav-height);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;

  .leftWrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    .brandLink {
      .brandLogo {
        vertical-align: middle;

        @media (prefers-color-scheme: dark) {
          filter: invert(1);
        }
      }
    }

    .exportButton {
      margin: 0;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.navbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10000;

  .title {
    opacity: 0;
  }
}

/*

.scroller {
  opacity: 0;
  background: hsl(var(--background) / 0.75);
  backdrop-filter: blur(13px);
  //border: 1px solid hsl(var(--border));
  box-shadow:
    0 0 0 1px hsl(var(--border) / 0.25),
    1px 1px 1px 1px hsl(var(--primary) / 0.05);
  border-radius: 999999px;
  z-index: 1;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);

  height: min-content;
  padding: 4px 50px;
}

.default {
  z-index: 2;
}
*/
