.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.875rem;
  padding: 0;

  p {
    text-align: center;
    margin: 0 auto;
  }
}

.expandButton {
  margin: 0 auto;
  text-align: left;
  width: fit-content;
  padding: 0;
}

.openIssueButton {
  margin: 16px auto 12px;
  width: fit-content;
  color: hsl(var(--muted-foreground));

  &:hover {
    color: hsl(var(--foreground));
    border-color: hsl(var(--primary));
  }
}
