.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: calc(var(--radius) - 2px);
  font-weight: 500;
  transition: all 0.2s ease;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 14px;
  color: hsl(var(--foreground));
  width: fit-content;
  margin: auto;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &:focus-visible {
    outline: 2px solid hsl(var(--ring));
    outline-offset: 2px;
  }
}

.primary {
  background: hsl(var(--primary));
  color: hsl(var(--primary-foreground));

  &:hover {
    background: hsl(var(--primary) / 0.9);
  }
}

.secondary {
  background: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));

  &:hover {
    background: hsl(var(--secondary) / 0.8);
  }
}

.outline {
  border: 1px solid hsl(var(--border) / 0.85);
  background: hsl(var(--muted) / 0.85);
  color: hsl(var(--muted-foreground) / 0.85);

  &:hover {
    background: hsl(var(--muted));
    color: hsl(var(--muted-foreground));
  }
}

.ghost {
  background: transparent;

  &:hover {
    border-color: hsl(var(--border));
    background: hsl(var(--accent));
    color: hsl(var(--accent-foreground));
  }
}

.icon {
  width: 24px; /* 32px */
  height: 24px; /* square */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px; /* no extra padding */
  border-radius: 4px; /* adjust if you want rounder/square */
  box-sizing: content-box;

  &:hover {
  }
}

.blackwhite {
  background: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 0%);

  &:hover {
    background: hsl(0 0% 0% / 0.75);
  }
}

@media (prefers-color-scheme: dark) {
  .blackwhite {
    background: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    border-color: hsl(0, 0%, 100%);

    &:hover {
      background: hsl(0 0% 100% / 0.85);
    }
  }
}

.link {
  display: inline-block;
  background: transparent;
  color: hsl(var(--primary));
  height: auto;
  padding: 0;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: underline;

  &:hover {
    color: hsl(var(--primary) / 0.8);
    background: transparent;
  }
}

.sm {
  height: 36px;
  padding: 0 12px;
  font-size: 13px;
}

.md {
  height: 40px;
  padding: 0 16px;
}

.lg {
  height: 44px;
  padding: 0 20px;
  font-size: 15px;
}
