.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: min(600px, 100%);
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputGroup {
  display: flex;
  gap: 12px;
  align-items: flex-start;

  @media (max-width: 640px) {
    flex-direction: column;
  }
}

.harmonizeOption {
  display: flex;
  align-items: center;
  gap: 8px;
}

.colorPicker {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  border-radius: 2px;
}
.hiddenColorInput {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.colorInputWrapper {
  display: flex;
  align-items: center;
  position: relative;

  .colorInput {
    color: hsl(var(--foreground));
    width: 150px;
  }
}

.colorPreview {
  position: absolute;
  right: 8px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid hsl(var(--border));
  pointer-events: none;
}

.select {
  height: 40px;
  padding: 0 12px;
  border-radius: calc(var(--radius) - 2px);
  border: 1px solid hsl(var(--border));
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  font-size: 14px;
  width: 150px;

  &:focus {
    outline: none;
    border-color: hsl(var(--ring));
  }
}

.settingsButton {
  padding: 0;
  margin: 0;

  aspect-ratio: 1;

  .settingsIcon {
    width: 24px;
    height: 24px;
    color: hsl(var(--foreground));
  }
}

.optionsMenu {
  width: min(350px, 100%);
  padding: 8px;
  border: 1px solid hsl(var(--border));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 4px;

  background: hsl(var(--muted));
  color: hsl(var(--muted-foreground));

  li {
    list-style-type: none;
    text-align: left;
    color: hsl(var(--foreground));

    .harmonizeDescription {
      margin-top: 4px;
      font-size: 12px;
      color: hsl(var(--muted-foreground));
    }
  }
}
