:root {
  --radius: 0.5rem;

  --max-width: 1200px;

  --background: 240 20% 98%;
  --foreground: 217 69% 23%;
  --foreground-subtle: 248 10% 55%;

  --primary: 217 91% 60%;
  --primary-foreground: 210 25% 97%;
  --secondary: 217 60% 93%;
  --secondary-foreground: 217 69% 23%;
  --muted: 248 21% 93%;
  --muted-foreground: 250 9% 39%;
  --accent: 217 60% 93%;
  --accent-foreground: 217 78% 47%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 100%;
  --border: 247 18% 80%;
  --input: 247 18% 80%;
  --ring: 217 91% 60%;

  /* Accent Scale - Light */
  --accent-1: 210 25% 97%;
  --accent-2: 218 48% 95%;
  --accent-3: 217 60% 93%;
  --accent-4: 216 87% 91%;
  --accent-5: 217 90% 88%;
  --accent-6: 218 84% 83%;
  --accent-7: 217 78% 77%;
  --accent-8: 217 76% 69%;
  --accent-9: 217 91% 60%;
  --accent-10: 217 80% 55%;
  --accent-11: 217 78% 47%;
  --accent-12: 217 69% 23%;

  /* Gray Scale - Light */
  --gray-1: 240 12% 97%;
  --gray-2: 255 18% 96%;
  --gray-3: 248 21% 93%;
  --gray-4: 252 19% 89%;
  --gray-5: 249 19% 87%;
  --gray-6: 248 19% 84%;
  --gray-7: 247 18% 80%;
  --gray-8: 250 18% 73%;
  --gray-9: 248 10% 55%;
  --gray-10: 249 8% 51%;
  --gray-11: 250 9% 39%;
  --gray-12: 249 18% 14%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 230 15% 8%;
    --foreground: 217 100% 91%;
    --foreground-subtle: 249 9% 46%;
    --primary: 217 91% 60%;
    --primary-foreground: 219 41% 8%;
    --secondary: 217 60% 17%;
    --secondary-foreground: 217 100% 91%;
    --muted: 250 8% 15%;
    --muted-foreground: 249 14% 73%;
    --accent: 217 60% 17%;
    --accent-foreground: 216 100% 76%;
    --border: 249 9% 30%;
    --input: 249 9% 30%;
    --ring: 217 91% 60%;

    /* Accent Scale - Dark */
    --accent-1: 219 41% 8%;
    --accent-2: 218 41% 11%;
    --accent-3: 217 60% 17%;
    --accent-4: 217 69% 23%;
    --accent-5: 217 63% 28%;
    --accent-6: 217 57% 33%;
    --accent-7: 217 53% 39%;
    --accent-8: 218 53% 47%;
    --accent-9: 217 91% 60%;
    --accent-10: 217 80% 55%;
    --accent-11: 216 100% 76%;
    --accent-12: 217 100% 91%;

    /* Gray Scale - Dark */
    --gray-1: 240 10% 8%;
    --gray-2: 255 7% 11%;
    --gray-3: 250 8% 15%;
    --gray-4: 248 9% 18%;
    --gray-5: 246 9% 21%;
    --gray-6: 245 9% 25%;
    --gray-7: 249 9% 30%;
    --gray-8: 249 9% 41%;
    --gray-9: 249 9% 46%;
    --gray-10: 249 9% 52%;
    --gray-11: 249 14% 73%;
    --gray-12: 240 10% 94%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  line-height: 1.5;
}
