// layout.module.scss
.layout {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:
    var(--nav-height)
    1fr
    auto;
}

.navbar {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  position: relative;
  z-index: 100; // Ensure navbar container has proper z-index
}

.hero {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  padding: 0 20px;
}

.footer {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

@media (max-width: 600px) {
  .layout {
    grid-template-rows:
      var(--nav-height) minmax(calc(100dvh - var(--nav-height)), 100%)
      auto;
  }
}
