.wrapper {
  width: 100%;
  height: auto;
  background: linear-gradient(
    45deg,
    hsl(var(--primary) / 0.25) -10%,
    hsl(var(--primary) / 0.5) 35%,
    hsl(var(--a-primary) / 0.25) 75%,
    hsl(var(--a-primary) / 0.5) 110%
  );

  backdrop-filter: blur(6px);
}
.footer {
  width: min(var(--max-width), 100%);
  margin: 0 auto;
  border-top: 1px solid hsl(var(--border));
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  .left {
    text-align: left;
    p {
      margin: 0;
      font-size: 14px;
    }
    small {
      color: hsl(var(--muted-foreground));
      font-size: 14px;
      margin: 0;
    }

    .brandLink {
      .brandLogo {
        margin-right: 12px;
        width: 32px;
        height: 32px;
        vertical-align: middle;

        :global(.dark) & {
          filter: invert(1);
        }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 16px;

    .v1 {
      text-decoration: none;
      color: hsl(var(--foreground));
    }

    .icon {
      width: 24px;
      height: 24px;
      color: hsl(var(--foreground));
      fill: hsl(var(--foreground));
    }
  }
}

@media screen and (max-width: 400px) {
  .footer {
    flex-direction: column;
    gap: 16px;
    .right {
    }
  }
}
